<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for user in users %}
    {{ user }}<br>
{% endfor %}
{% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}
        {%- for category, msg in msgs %}
            <div class="alert alert-info">
              {{category.capitalize()}}: {{ msg }}
            </div>
        {% endfor -%}
    {% endif %}
{% endwith %}
{% block content %}
{% endblock %}
</body>
</html>