{% extends "index.html" %}
{% block content %}
<form action="/login" method = "POST" >
    <label><b>{{ form.login.label }}</b></label>
    {{ form.login }}
    <label><b>{{ form.password.label }}</b></label>
    {{ form.password }}
    <button type="submit">Login</button>
</form>
{% endblock %}