{% extends "index.html" %}
{% block content %}
<img src="{{ avatar.link2avatar() }}" style="width:304px;height:228px;">
<form action="{{ url_for("upload") }}" method="post" enctype="multipart/form-data">
                <i></i>
                &nbsp;Выбрать…
                <input class="" name="file_to_upload" type="file">
            {# Upload #}
            <button type="submit"
                    title="Upload selected files" tabindex="500">
                <i></i>&nbsp;Загрузить файл
            </button>
</form>
{% endblock %}