{% extends "index.html" %}
{% block content %}
<form action="/registration" method = "POST" >
    <label><b>{{ form.login.label }}</b></label>
    {{ form.login }}
    <label><b>{{ form.password.label }}</b></label>
    {{ form.password }}
    <label><b>{{ form.confirm_password.label }}</b></label>
    {{ form.confirm_password }}
    <label><b>{{ form.email.label }}</b></label>
    {{ form.email }}
    <button type="submit">Registration</button>
</form>
{% endblock %}